<%- include('includes/homeheader.ejs')%>
<div>
<section class="ftco-section mb-0 pb-0 pt-0" style="background-color: white;">
  <div class="container mb-0 pb-0" >
    <div class="row">
      <div class="col-md-12">
        <div class="featured-carousel owl-carousel">
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image: url(https://th.bing.com/th/id/OIP.19vpOOUXv2KxHR5GsK0wIwHaH7?pid=ImgDet&w=1435&h=1536&rs=1);"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p style="font-family: initial; font-size:xx-large;" class="text-dark mb-5">“ The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. ”</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash;Steve Jobs</p>
                        <!-- <span class="position">Project Manager</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image: url(https://www.mockbank.com/bulletin/wp-content/uploads/2017/01/campus-placement.jpg);"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p style="font-family: initial; font-size:xx-large;" class="text-dark mb-5">“ Find out what you like doing best, and get someone to pay you for doing it. ”</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Katharine Whitehorn</p>
                        <!-- <span class="position">Project Manager</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image: url(https://th.bing.com/th/id/R.cc1a7afc7233b5017f7c114e805861d4?rik=OUsMKlGU8%2bIbDQ&riu=http%3a%2f%2fkvalito.ch%2fwp-content%2fuploads%2f2020%2f04%2fSOftware-validation-2.jpg&ehk=Yv0dLuadLyWCBlZxhkWMYTzC9GyiTjo4FBJjr0CbprM%3d&risl=&pid=ImgRaw&r=0);"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p style="font-family: initial; font-size:xx-large;" class="text-dark mb-5">“ Choose a job you love, and you will never have to work a day in your life. ”</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Confucius</p>
                        <!-- <span class="position">Project Manager</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



      <%- include('includes/counts.ejs')%>

      <%- include('includes/homefooter.ejs')%>
